<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
	<title>LearnRailsPayments</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' >
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="content" class="container">
    <header id="content-header">
        <%= image_tag('header-image.jpg', id:"content-head-img", alt: "Learn Rails!") %>
    </header>
    <%= yield %>
  </div>
  <footer id="site-footer">
Made by <a href="#" target="_blank">Learn App Code</a>
</footer>
  </body>
</html>
